.img-center {
    width: 100%; 
    margin: 20px auto; 
    text-align: center;
    height: 100px;
}

.icon-radius {
    margin-left: 50px;    
    border-radius: 50%;
    border: 1px solid black;
}

.position-set {
    position: absolute;
    right: 0px;
    margin-right: 5px;
    margin-top: 5px;
}

.remove-line-item {
    border-bottom   : 0px !important;
}
.input-box {
    padding-left: 15px !important;
    font-size: 0.8em;
    margin-bottom: 10px;
    border: 1px solid #bdb4b4;
    height: 35px;
}